<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fenlibao.p2p.weixin.persistence.MediaMapper" >
  <resultMap id="BaseResultMap" type="com.fenlibao.p2p.weixin.domain.Media" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="message_id" property="messageId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="media_id" property="mediaId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="music_url" property="musicUrl" jdbcType="VARCHAR" />
    <result column="hqmusic_url" property="hqmusicUrl" jdbcType="VARCHAR" />
    <result column="thumb_media_id" property="thumbMediaId" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="LONGVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.fenlibao.p2p.weixin.domain.Media" useGeneratedKeys="true"
          keyProperty="id" >
    insert into weixin_media (message_id, type, media_id,
      title, description, music_url, 
      hqmusic_url, thumb_media_id, pic_url, 
      url)
    values
    (#{messageId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{mediaId,jdbcType=VARCHAR},
      #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{musicUrl,jdbcType=VARCHAR}, 
      #{hqmusicUrl,jdbcType=VARCHAR}, #{thumbMediaId,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{url,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true"
          keyProperty="id" >
    insert into weixin_media (id,message_id, type, media_id,
    title, description, music_url,
    hqmusic_url, thumb_media_id, pic_url,
    url)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=VARCHAR},#{item.messageId,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR}, #{item.mediaId,jdbcType=VARCHAR},
      #{item.title,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR}, #{item.musicUrl,jdbcType=VARCHAR},
      #{item.hqmusicUrl,jdbcType=VARCHAR}, #{item.thumbMediaId,jdbcType=VARCHAR}, #{item.picUrl,jdbcType=VARCHAR},
      #{item.url,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.fenlibao.p2p.weixin.domain.Media" useGeneratedKeys="true"
          keyProperty="id">
    insert into weixin_media
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="mediaId != null" >
        media_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="musicUrl != null" >
        music_url,
      </if>
      <if test="hqmusicUrl != null" >
        hqmusic_url,
      </if>
      <if test="thumbMediaId != null" >
        thumb_media_id,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null" >
        #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="musicUrl != null" >
        #{musicUrl,jdbcType=VARCHAR},
      </if>
      <if test="hqmusicUrl != null" >
        #{hqmusicUrl,jdbcType=VARCHAR},
      </if>
      <if test="thumbMediaId != null" >
        #{thumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>