<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Layout</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap-theme.min.css}"
          href="../../css/bootstrap.min.css"/>
    <script type="application/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/jquery.twbsPagination.min.js}"></script>
    <script type="application/javascript" th:inline="javascript">
        $(function () {
            $('#pagination').twbsPagination({
                first: '首页',
                prev: '上一页',
                next: '下一页',
                last: '末页',
                href: '?page={{number}}',
                totalPages: [[${page.totalPages}]],
                visiblePages: [[${page.size}]],
                onPageClick: function (event, page) {
                    $('#page-content').text('Page ' + page);
                }
            });
        });
    </script>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        　<!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
        <a href="##" class="navbar-brand"></a>
    </div>
    <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li th:class="${home==1 ? 'active' : ''}"><a th:href="@{/relationship/list}">推荐管理</a></li>
            <li th:class="${home==2 ? 'active' : ''}"><a th:href="@{/rule/list}">推广设置</a></li>
            <li th:class="${home==3 ? 'active' : ''}"><a th:href="@{/channel/list}">通道管理</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a sec:authentication="principal.username"></a>
            </li>
            <li><a href="/logout">退出</a></li>
        </ul>
    </div>
</div>

<div layout:fragment="content">
    Fake content
</div>
<center>
    <ul id="pagination" class="pagination-sm"></ul>
</center>
</body>
</html>
